/* Home page */

body {
    margin: 0;
    overflow: hidden;
}

.home nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 8.5vw;
}

.home nav img {
    position: absolute;
    left: 2vw;
    top: 0.5vw;
    height: 90%;
}

.button-container {
    position: absolute;
    right: 0;
    padding: 0.5%;
}

.button-container button {
    padding: 3vw;
    border: solid 1px transparent;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    background-color: black;
    font-size: 1.5vw;
    color: white;
}

.buttons-container {
    display: flex;
    margin-top: 12%;
    height: 70vh
}

.home {
    margin-top: 12%;
}

.home .left, .home .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right  button, .home .left  button {
    height: 12vw;
    width: 30vw;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    border: 0;
    background-color: transparent;
    background-image: url('./images/image-from-rawpixel-id-12681938-original.png');
    background-size: cover;
    color: rgb(245, 56, 56);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Solutions, Rules, and About pages */
.rules-info, .credit-info, .solution-text {
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#back0, #back1, #back2 {
    background-color: transparent;
    border: 0;
    height: 3vw;
    width: 3vw;
    position: absolute;
    left: 1%;
    top: 9vw;
    background-image: url('./images/back.png');
    background-size: cover;
}

.text-info {
    text-align: center;
}

.solution-info {
    margin-top: -2%;
    font-size: 90%;
    display: flex;
}

.playerone, .playertwo {
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc; 
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}

footer img {
    height: 70px;
    margin: 15px;
}

/* Hover */

.home .right  button:hover, .home .left  button:hover {
    filter: brightness(120%);
    transform: translateY(-10px);
    cursor: url('./images/cursor.png'), auto;
}

.button-container button:hover {
    background-color: rgb(20, 20, 20);
}

#back1:hover, #back2:hover, footer img:hover {
    opacity: 0.8;
}

/* audio */
#volumeSlider {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.volume-container {
    background-color: black;
    color: white;
    width: 135px;
    height: 35px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: auto;
}

/* Room 1 */
.room-one, .room-two {
    cursor: url('./images/cursor.png'), auto;
    height: 100vh;
    background-image: url('./images/background.jpeg');
    background-size: cover;
}

/* globe */

.room-one .purple {
    cursor: url('./images/spin.png'), auto;
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 28%;
    padding-top: 28%;
    max-width: 570px;
    transform: rotate(4deg);
}

.purple .globe {
    background-image: url('./images/globe.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
    width: 120%;
    padding-top: 120%;
    max-width: 570px;
    z-index: 1;
    transition: transform 0.5s ease-out;
}

.purple .frame {
    position: absolute;
    background-image: url('./images/globeFrame.png');
    background-size: cover;
    background-color: transparent;
    width: 120%;
    padding-top: 120%;
    max-width: 570px;
    z-index: 2;
}

.check-globe {
    background-image: url('./images/globeChecker.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
    position: absolute;
    bottom: 5%;
    left: 35%;
    width: 5vw;
    height: 5vw;
}

/* pads */

.room-two .pad {
    position: absolute;
    bottom: 30px;
    right: 25px;
    background-image: url('./images/pad.png');
    background-size: cover;
    width: 17.5%;
    padding-top: 17.5%;
    max-width: 300px;
}

.room-one .white {
    position: absolute;
    bottom: 30px;
    left: 40%;
    background-image: url('./images/pad.png');
    background-size: cover;
    width: 17.5%;
    padding-top: 17.5%;
    max-width: 300px;
    display: flex;
    justify-self: center;
    align-items: center;
}

.btn-container {
    position: absolute;
    width: 60%;
    height: auto;
    max-width: 300px;
    bottom: 20%;
    left: 20%;
}

.btn-container button {
    width: 3.7vw;
    height: 3.5vw;
    background-image: url(./images/padNoVal.png);
    background-size: cover;
    border: 0;
    font-size: 1.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.topNum, .midNum, .botNum {
    display: flex;
    justify-content: space-around;
}

/* cassette player */

.teal .photo {
    width: 30%;
    height: 1%;
    background-image: url(./images/polaroid.png);
    background-size: cover;
    position: absolute;
    left: 12%;
    bottom: 50%;
    transition: height 2s ease-in-out, background-image 5s ease-out;;
}

.room-one .teal {
    position: absolute;
    left: 35%;
    top: 30px;
    background-image: url(./images/cassette.png);
    background-size: cover;
    width: 25%;
    padding-bottom: 30%;
    max-width: 450px;
    max-height: 500px;
    transform: rotate(356deg);
    display: flex;
    justify-content: center;
}

.teal .cassette-btns {
    position: absolute;
    bottom: 10%;
    right: 13%;
    display: flex;
}

.sound1, .sound2, .sound3, .sound4, .sound5, .sound6  {
    width: 1.8vw;
    height: 2vw;
    margin: 0.5px;
    border: 0;
    background-color: transparent;
    color: transparent;
}

/* clock */

.rotateh {
    position: absolute;
    transform: rotate(120deg);
    background-image: url(./images/hour.png);
    background-size: cover;
    width: 110%;
    padding-top: 110%;
    max-width: 700px;
    margin-top: 100%;
}

.rotatem {
    position: absolute;
    transform: rotate(240deg);
    background-image: url(./images/min.png);
    background-size: cover;
    width: 110%;
    padding-top: 110%;
    max-width: 700px;
    margin-top: 100%;
}

.room-one .red {
    position: absolute;
    top: 60px;
    right: 20px;
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    width: 35%;
    padding-bottom: 35%;
    max-width: 600px;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.min, .hour {
    background-image: url('./images/button.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
}

.room-one .clock-hands {
    position: absolute;
    width: 30%;
    bottom: 10%;
    right: 2%;
    display: flex;
    justify-content: start;
}

.room-one .clock-hands button {
    width: 6vw;
    height: 6vw;
    margin: 0 12%;
}

/* player 2 */

.room-two {
    background-image: url('./images/background2.png');
    background-size: cover;
}

/* radio */

.room-two .black {
    position: absolute;
    top: -10px;
    right: 20px;
    transform: rotate(-3deg);
    background-size: cover;
    background-image: url('./images/radio.png');
    width: 53vw;
    height: 33vw;
    display: flex;
    justify-content: center;
    align-items: end;
}

.black button {
    position: relative;
    width: 3vw;
    height: 3vw;
    border: 0;
    background-image: url('./images/radiobtn.png');
    background-size: cover;
    background-color: transparent;
}

.black .replay {
    width: 2.8vw;
    height: 1.4vw;
    background-image: url('./images/replay.png');
    position: absolute;
    bottom: 12vw;
    right: 5.5vw;
}

.left-radio {
    width: 23%;
    height: 10%;
    position: relative;
    left: -11%;
}

.right-radio {
    width: 23%;
    height: 10%;
    position: relative;
    right: -18%;
    bottom: -1%;
}

.black .btn-1 {
    transform: rotate(135deg);
    margin-right: 10%;
    bottom: 9.1vw; 
    width: 4vw;
    height: 4vw;
}

.black .btn-2 {
    transform: rotate(45deg);
    bottom: 9.5vw;
}

.black .btn-3 {
    transform: rotate(90deg);
    bottom: 9.9vw;
}

.black .btn-4 {
    margin-left: 10%;
    bottom: 9.4vw;
    width: 4vw;
    height: 4vw;
}

/* Frame */

.room-two .yellow {
    position: absolute;
    bottom: 1%;
    right: 22%;
    transform: rotate(3deg);
    background-size: cover;
    width: 23.5vw;
    height: 23.5vw;
}

.yellow .top, .yellow .mid, .yellow .bot {
    width: 15.9vw;
    height: 5vw;
    position: relative;
    top: 4.2vw;
    left: 4vw;
    margin: 2px;
}

.yellow button {
    width: 4.9vw;
    height: 4.9vw;
    border: 0;
}

.yellow .top button {
    background-image: url('./images/tile1.png');
    background-size: cover;
}

.top .arone {
    transform: rotate(90deg);
}

.top .arthree {
    transform: rotate(180deg);
}

.mid .arfour {
    transform: rotate(90deg);
}

.mid .arfive {
    transform: rotate(270deg);
}

.bot .areight {
    transform: rotate(270deg);
}

.bot .arnine {
    transform: rotate(180deg);
}

.yellow .mid button {
    background-image: url('./images/tile2.png');
    background-size: cover;
}

.yellow .bot button {
    background-image: url('./images/tile3.png');
    background-size: cover;
}

/* case */

.room-two .green {
    position: absolute;
    bottom: 5%;
    left: 1.5%;
    transform: rotate(5deg);
    width: 52vw;
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: transparent;
}

.carousel6-item1, .carousel5-item1, .carousel4-item1, .carousel3-item1, .carousel2-item1, .carousel1-item1 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/yellow.png');
    background-size: cover;
}

.carousel6-item2, .carousel5-item2, .carousel4-item2, .carousel3-item2, .carousel2-item2, .carousel1-item2 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/orange.png');
    background-size: cover;
}

.carousel6-item3, .carousel5-item3, .carousel4-item3, .carousel3-item3, .carousel2-item3, .carousel1-item3 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/green.png');
    background-size: cover;
}

.carousel6-item4, .carousel5-item4, .carousel4-item4, .carousel3-item4, .carousel2-item4, .carousel1-item4 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/black.png');
    background-size: cover;
}

.carousel6-item5, .carousel5-item5, .carousel4-item5, .carousel3-item5, .carousel2-item5, .carousel1-item5 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/red.png');
    background-size: cover;
}

.carousel6-item6, .carousel5-item6, .carousel4-item6, .carousel3-item6, .carousel2-item6, .carousel1-item6 {
    height: 2vw;
    width: 1.2vw;
    background-image: url('./images/blue.png');
    background-size: cover;
}

.Lock6, .Lock5, .Lock4, .Lock3, .Lock2, .Lock1 {
    margin: 0.23vw;
}

.Lock6 button, .Lock5 button, .Lock4 button, .Lock3 button, .Lock2 button, .Lock1 button {
    width: 20px;
    height: 50px;
    position: absolute;
    border: 0;
    background-color: transparent;
}

/* Lock 1 */
.option-container1 {
    overflow: hidden;
}

.carousel1-item1, .carousel1-item2, .carousel1-item3, .carousel1-item4, .carousel1-item5, .carousel1-item6 {
    display: none;
}

/* lock 2 */
.option-container2 {
    overflow: hidden;
}

.carousel2-item1, .carousel2-item2, .carousel2-item3, .carousel2-item4, .carousel2-item5, .carousel2-item6 {
    display: none;
}

/* lock 3 */
.option-container3 {
    overflow: hidden;
}

.carousel3-item1, .carousel3-item2, .carousel3-item3, .carousel3-item4, .carousel3-item5, .carousel3-item6 {
    display: none;
}

/* lock 4 */
.option-container4 {
    overflow: hidden;
}

.carousel4-item1, .carousel4-item2, .carousel4-item3, .carousel4-item4, .carousel4-item5, .carousel4-item6 {
    display: none;
}

/* Lock 5 */
.option-container5 {
    overflow: hidden;
}

.carousel5-item1, .carousel5-item2, .carousel5-item3, .carousel5-item4, .carousel5-item5, .carousel5-item6 {
    display: none;
}

/* Lock 6 */
.option-container6 {
    overflow: hidden;
}

.carousel6-item1, .carousel6-item2, .carousel6-item3, .carousel6-item4, .carousel6-item5, .carousel6-item6 {
    display: none;
}

.left-lock {
    cursor: auto;
    width: 6vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    position: relative;
    left: -8.8vw;
    top: 2.6vw;
    padding: 1vw;
    transform: rotate(1deg);
}

.right-lock { 
    cursor: auto;
    width: 6vw;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    position: relative;
    right: -8.8vw;
    top: 2.8vw;
    padding: 1vw;
}

.end {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.congrats-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.congrats-container p {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: rgb(245, 56, 56);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.end-text {
    display: block;
}

.congrats {
    position: absolute;
    background-color: transparent;
    background-image: url('./images/image-from-rawpixel-id-12682161-original.png');
    background-size: cover;
    width: 1200px;
    height: 500px;
}

/* keep at bottom */

.hide, audio {
    display: none;
}

/* media queries */

@media screen and (max-width: 1250px) {
    .solution-info {
        font-size: 70%;
    }

    .room-one .teal {
        top: 30%;
    }

    .room-one .red {
        top: 30%;
    }

    .room-two .black {
        top: 20%;
    }

    .congrats {
        width: 90vw;
        height: 40vw;
    }

    .congrats-container p {
        position: relative;
        font-size: 5vh;
    }
}

@media screen and (max-width: 900px) {
    .room-two .black {
        top: 45%;
    }
}

@media screen and (max-width: 770px) {
    body {
        transform: rotate(90deg);
    }

    .room-one, .room-two {
        height: 100vw;
        width: 100vh;
        background-image: url('./images/background.jpeg');
        background-size: cover;
    }

    .room-two {
        background-image: url('./images/background2.png');
        background-size: cover;
    }

    .buttons-container {
        display: flex;
        margin-top: 0;
        height: 70vw
    }

    .home {
        margin-top: 0;
        height: 100vw;
        width: 100vh;
    }

    .home nav {
        width: 100vh;
    }

    .text-info {
        margin-top: 12%;
        margin-bottom: 300px;
    }

    .solution-info {
        margin-top: 12%;
        font-size: 10px;
    }

    footer {
        width: 100vh;
    }

    /* Globe */

    .room-one .purple {
        width: 35vh;
        height: 35vw;
        bottom: 23vh;
    }

    .check-globe {
        left: 40vh;
    }

    /* Pads */

    .room-one .white {
        bottom: 30px;
        left: 50vh;
    }

    .room-two .pad {
        bottom: 30px;
        left: 80vh;
    }

    /* cassette player */

    .room-one .teal {
        left: 40vh;
        top: 30px;
    }

    .sound1, .sound2, .sound3, .sound4, .sound5, .sound6  {
        padding: 1px;
        height: 10px;
        margin: 0.2px;
        border: 0;
    }

    /* clock */

    .room-one .red {
        top: 10px;
        left: 62vh;
    }

    .room-one .clock-hands {
        bottom: 10%;
        left: 66vh;
    }

    /* end */

    .congrats {
        width: 670px;
        height: 300px;
    }

    .end {
        width: 100vh;
        height: 100vw;
    }
    
    .congrats-container {
        width: 100vh;
        height: 100vw;
    }

    /* radio */

    .room-two .black {
        top: 10px;
        left: 55vh;
    }

    /* media quieries */

    .room-two .yellow {
        bottom: 1%;
        left: 60vh;
    }
    
    .yellow .top, .yellow .mid, .yellow .bot {
        width: 17vw;
    }

    /* case */

    .room-two .green {
        left: 5vh;
    }

}