/* Home page */

body {
    margin: 0;
    overflow: hidden;
}

.home nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 15%;
}

.home nav img {
    position: absolute;
    left: 30px;
    top: 10px;
    height: 90%;
}

.button-container {
    position: absolute;
    right: 0;
    padding: 5px;
}

.button-container button {
    padding: 50px;
    border: solid 1px transparent;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    background-color: black;
    font-size: 20px;
    color: white;
}

.buttons-container {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 12%;
    height: 70vh
}

.home {
    margin-top: 12%;
}

.home .left, .home .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right  button, .home .left  button {
    height: 150px;
    width: 450px;
    font-size: 35px;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    background-image: url('./images/Buttons.png');
    background-size: cover;
    color: rgb(245, 56, 56);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Rules and About pages */
.rules-info, .credit-info {
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#back1, #back2 {
    background-color: transparent;
    border: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 16%;
    background-image: url('./images/back.png');
    background-size: cover;
}

.text-info {
    padding: 140px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc; 
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}

footer img {
    height: 70px;
    margin: 15px;
}

/* Hover */

.home .right  button:hover, .home .left  button:hover {
    filter: brightness(120%);
    transform: translateY(-10px);
    cursor: url('./images/cursor.png'), auto;
}

.button-container button:hover {
    background-color: rgb(20, 20, 20);
}

#back1:hover, #back2:hover, footer img:hover {
    opacity: 0.8;
}

/* audio */
#volumeSlider {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.volume-container {
    background-color: black;
    color: white;
    width: 135px;
    height: 35px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: auto;
}

/* Room 1 */
.room-one, .room-two {
    cursor: url('./images/cursor.png'), auto;
    height: 100vh;
    background-image: url('./images/background.jpeg');
    background-size: cover;
}

/* note */

.room-one .blue {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 480px;
    height: 333px;
    transform: rotate(-10deg);
    background-image: url('./images/letter.png');
    background-size: cover;
    background-color: transparent;
}

/* globe */

.room-one .purple {
    cursor: url('./images/spin.png'), auto;
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 570px;
    height: 570px;
    transform: rotate(4deg);
}

.purple .globe {
    background-image: url('./images/globe.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
    width: 570px;
    height: 570px;
    z-index: 1;
    transition: transform 0.5s linear;
}

.purple .frame {
    position: absolute;
    background-image: url('./images/globeFrame.png');
    background-size: cover;
    background-color: transparent;
    width: 570px;
    height: 570px;
    z-index: 2;
}

/* pad */

.room-one .white {
    position: absolute;
    bottom: 30px;
    left: 40%;
    background-image: url('./images/pad.png');
    background-size: cover;
    width: 20%;
    height: 40%;
}

.room-one .teal {
    position: absolute;
    left: 40%;
    top: 30px;
    background-color: teal;
    width: 20%;
    height: 35%;
    transform: rotate(356deg);
}

/* clock */

.rotateh {
    transform: rotate(120deg);
}

.rotatem {
    transform: rotate(240deg);
}

.room-one .red {
    position: absolute;
    top: 60px;
    right: 60px;
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.red img {
    position: absolute;
    width: 700px;
    height: 700px;
}

.min, .hour {
    background-image: url('./images/button.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
}

.room-one .clock-hands {
    position: absolute;
    width: 500px;
    bottom: 60px;
    right: 90px;
}

.room-one .clock-hands button {
    width: 100px;
    height: 100px;
    margin: 0 70px;
}

/* player 2 */

.room-two {
    background-image: url('./images/background2.png');
    background-size: cover;
}

/* radio */

.room-two .black {
    position: absolute;
    top: -10px;
    right: 20px;
    transform: rotate(-3deg);
    background-size: cover;
    background-image: url('./images/radio.png');
    width: 900px;
    height: 567px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.black button {
    position: relative;
    width: 46px;
    height: 46px;
    border: 0;
    background-image: url('./images/radiobtn.png');
    background-size: cover;
    background-color: transparent;
}

.black .replay {
    width: 47px;
    height: 25px;
    background-image: url('./images/replay.png');
    position: absolute;
    bottom: 202px;
    right: 100px;
}

.left-radio {
    width: 200px;
    height: 60px;
    position: relative;
    left: -100px;
}

.right-radio {
    width: 200px;
    height: 60px;
    position: relative;
    right: -170px;
    bottom: -10px;
}

.black .btn-1 {
    transform: rotate(135deg);
    margin-right: 20px;
    bottom: 155px; 
    width: 60px;
    height: 60px;
}

.black .btn-2 {
    transform: rotate(45deg);
    bottom: 160px;
}

.black .btn-3 {
    transform: rotate(90deg);
    bottom: 165px;
}

.black .btn-4 {
    margin-left: 20px;
    bottom: 157px;
    width: 60px;
    height: 60px;
}

/* pad */

.room-two .pad {
    position: absolute;
    bottom: 30px;
    right: 25px;
    background-image: url('./images/pad.png');
    background-size: cover;
    width: 20%;
    height: 40%;
}

/* Frame */

.room-two .yellow {
    position: absolute;
    bottom: 20px;
    right: 22%;
    transform: rotate(3deg);
    background-image: url('./images/frame.png');
    background-size: cover;
    width: 400px;
    height: 400px;
}

.yellow .top {
    width: 260px;
    height: 86px;
    position: relative;
    top: 73px;
    left: 70px;
}

.yellow .mid {
    width: 260px;
    height: 86px;
    position: relative;
    top: 73px;
    left: 70px;
}

.yellow .bot {
    width: 260px;
    height: 86px;
    position: relative;
    top: 73px;
    left: 70px;
}

.yellow button {
    width: 84px;
    height: 84px;
    border: 0;
}

.yellow .top button {
    background-image: url('./images/tile1.png');
    background-size: cover;
}

.top .arone {
    transform: rotate(90deg);
}

.top .arthree {
    transform: rotate(180deg);
}

.mid .arfour {
    transform: rotate(90deg);
}

.mid .arfive {
    transform: rotate(270deg);
}

.bot .areight {
    transform: rotate(270deg);
}

.bot .arnine {
    transform: rotate(180deg);
}

.yellow .mid button {
    background-image: url('./images/tile2.png');
    background-size: cover;
}

.yellow .bot button {
    background-image: url('./images/tile3.png');
    background-size: cover;
}

/* combination */

.room-two .green {
    position: absolute;
    bottom: 30px;
    left: 25px;
    transform: rotate(5deg);
    width: 894px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: transparent;
}

.carousel6-item1, .carousel5-item1, .carousel4-item1, .carousel3-item1, .carousel2-item1, .carousel1-item1 {
    height: 35px;
    width: 20px;
    background-image: url('./images/yellow.png');
    background-size: cover;
}

.carousel6-item2, .carousel5-item2, .carousel4-item2, .carousel3-item2, .carousel2-item2, .carousel1-item2 {
    height: 35px;
    width: 20px;
    background-image: url('./images/orange.png');
    background-size: cover;
}

.carousel6-item3, .carousel5-item3, .carousel4-item3, .carousel3-item3, .carousel2-item3, .carousel1-item3 {
    height: 35px;
    width: 20px;
    background-image: url('./images/green.png');
    background-size: cover;
}

.carousel6-item4, .carousel5-item4, .carousel4-item4, .carousel3-item4, .carousel2-item4, .carousel1-item4 {
    height: 35px;
    width: 20px;
    background-image: url('./images/black.png');
    background-size: cover;
}

.carousel6-item5, .carousel5-item5, .carousel4-item5, .carousel3-item5, .carousel2-item5, .carousel1-item5 {
    height: 35px;
    width: 20px;
    background-image: url('./images/red.png');
    background-size: cover;
}

.carousel6-item6, .carousel5-item6, .carousel4-item6, .carousel3-item6, .carousel2-item6, .carousel1-item6 {
    height: 35px;
    width: 20px;
    background-image: url('./images/blue.png');
    background-size: cover;
}

.Lock6, .Lock5, .Lock4, .Lock3, .Lock2, .Lock1 {
    margin: 5px;
}

.Lock6 button, .Lock5 button, .Lock4 button, .Lock3 button, .Lock2 button, .Lock1 button {
    width: 20px;
    height: 50px;
    position: absolute;
    border: 0;
    background-color: transparent;
}

/* Lock 1 */
.option-container1 {
    overflow: hidden;
}

.carousel1-item1, .carousel1-item2, .carousel1-item3, .carousel1-item4, .carousel1-item5, .carousel1-item6 {
    display: none;
}

/* lock 2 */
.option-container2 {
    overflow: hidden;
}

.carousel2-item1, .carousel2-item2, .carousel2-item3, .carousel2-item4, .carousel2-item5, .carousel2-item6 {
    display: none;
}

/* lock 3 */
.option-container3 {
    overflow: hidden;
}

.carousel3-item1, .carousel3-item2, .carousel3-item3, .carousel3-item4, .carousel3-item5, .carousel3-item6 {
    display: none;
}

/* lock 4 */
.option-container4 {
    overflow: hidden;
}

.carousel4-item1, .carousel4-item2, .carousel4-item3, .carousel4-item4, .carousel4-item5, .carousel4-item6 {
    display: none;
}

/* Lock 5 */
.option-container5 {
    overflow: hidden;
}

.carousel5-item1, .carousel5-item2, .carousel5-item3, .carousel5-item4, .carousel5-item5, .carousel5-item6 {
    display: none;
}

/* Lock 6 */
.option-container6 {
    overflow: hidden;
}

.carousel6-item1, .carousel6-item2, .carousel6-item3, .carousel6-item4, .carousel6-item5, .carousel6-item6 {
    display: none;
}

.left-lock {
    cursor: auto;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -150px;
    top: 45px;
    padding: 20px;
    transform: rotate(1deg);
}

.right-lock { 
    cursor: auto;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    right: -150px;
    top: 48px;
    padding: 20px;
}

/* keep at bottom */

.hide, audio {
    display: none;
}