/* Home page */

.home nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 15%;
}

.home nav img {
    position: absolute;
    left: 30px;
    top: 10px;
    height: 90%;
}

.button-container {
    position: absolute;
    right: 0;
    padding: 5px;
}

.button-container button {
    padding: 50px;
    border: solid 1px transparent;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    background-color: black;
    font-size: 20px;
    color: white;
}

.buttons-container {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 12%;
    height: 70vh
}

.home {
    margin-top: 12%;
}

.home .left, .home .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right  button, .home .left  button {
    height: 150px;
    width: 450px;
    font-size: 35px;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    background-image: url('./images/Buttons.png');
    background-size: cover;
    color: rgb(245, 56, 56);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Rules and About pages */
.rules-info, .credit-info {
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#back1, #back2 {
    background-color: transparent;
    border: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 16%;
    background-image: url('./images/back.png');
    background-size: cover;
}

.text-info {
    padding: 140px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #ccc; 
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
}

footer img {
    height: 70px;
    margin: 15px;
}

/* Hover */

.home .right  button:hover, .home .left  button:hover {
    filter: brightness(120%);
    transform: translateY(-10px);
    cursor: url('./images/cursor.png'), auto;
}

.button-container button:hover {
    background-color: rgb(20, 20, 20);
}

#back1:hover, #back2:hover, footer img:hover {
    opacity: 0.8;
}

/* audio */
#volumeSlider {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.volume-container {
    background-color: black;
    color: white;
    width: 135px;
    height: 35px;
    position: fixed;
    bottom: 5px;
    left: 5px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    cursor: auto;
}

/* keep at bottom */

.hide, audio {
    display: none;
}

/* Room 1 */
.room-one, .room-two {
    cursor: url('./images/cursor.png'), auto;
    height: 100vh;
    background-image: url('./images/background.jpeg');
    background-size: cover;
}

.room-one .blue {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 600px;
    height: 416px;
    transform: rotate(-10deg);
    background-image: url('./images/letter.png');
    background-size: cover;
    background-color: transparent;
}

.room-one .purple {
    position: absolute;
    bottom: 10px;
    left: 60px;
    background-color: purple;
    width: 30%;
    height: 40%;
    transform: rotate(4deg);
}

.room-one .white {
    position: absolute;
    bottom: 30px;
    left: 40%;
    background-color: lightgray;
    width: 20%;
    height: 40%;
}

.room-one .teal {
    position: absolute;
    left: 40%;
    top: 30px;
    background-color: teal;
    width: 20%;
    height: 35%;
    transform: rotate(356deg);
}

/* clock */

.room-one .red {
    position: absolute;
    top: 60px;
    right: 60px;
    background-image: url('./images/clock.png');
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    transform: rotate(7deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.red img {
    position: absolute;
    width: 700px;
    height: 700px;
}

.min, .hour {
    background-image: url('./images/button.png');
    background-size: cover;
    background-color: transparent;
    border: 0;
}

.room-one .clock-hands {
    position: absolute;
    width: 30%;
    bottom: 60px;
    right: 90px;
}

.room-one .clock-hands button {
    width: 100px;
    height: 100px;
    margin: 0 70px;
}