/* Home page */

.home nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 15%;
}

.home nav img {
    position: absolute;
    left: 30px;
    top: 10px;
    height: 90%;
}

.button-container {
    position: absolute;
    right: 0;
    padding: 5px;
}

.button-container button {
    padding: 50px;
    border: solid 1px transparent;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    background-color: black;
    font-size: 20px;
    color: white;
}

.buttons-container {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 12%;
    height: 70vh
}

.home {
    margin-top: 12%;
}

.home .left, .home .right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .right  button, .home .left  button {
    height: 150px;
    width: 450px;
    font-size: 35px;
    font-weight: bold;
    border: 0;
    background-color: transparent;
    background-image: url('./images/Buttons.png');
    background-size: cover;
    color: rgb(245, 56, 56);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Hover */

.home .right  button:hover, .home .left  button:hover {
    filter: brightness(120%);
}

.button-container button:hover {
    background-color: rgb(20, 20, 20);
}

/* keep at bottom */

.hide {
    display: none;
}